<ion-view view-title="FACILITY">
	<ion-nav-buttons side="right">
      <!-- <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="goMap()" ng-class="{'ion-arrow-down-c':!hasFilters,'ion-close-circled':hasFilters}"></a> -->
      <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="goCamera()" ng-class="{'ion-ios-camera':!hasFilters,'ion-close-circled':hasFilters}"></a>
  	</ion-nav-buttons>
  	
  	<!-- <ion-content class="margin-top-10" style="margin-top: 10%"> 
 
	    <div class="row" style="height: 40%">
	      	<div class="col" style="">
	    		<img src="img/atm.png" style="width : 65% ; height : 65%; border-radius: 20%; float: right; margin: 5%; background-color: #ef473a; padding: 10%" ng-click="goAtmMap()" >
	    	</div>
	    	<div class="col">
	    		<img src="img/restaurant.png" style="width : 65% ; height : 65%; border-radius: 20%; margin: 5%; background-color: #886aea; padding: 10%" ng-click="goCafeMap()" >
	    	</div>
	    </div>

	    <div class="row" style="height: 40%">
	      	<div class="col">
	    		<img src="img/bus-stop.png" style="width : 65% ; height : 65%; border-radius: 20%; float: right; margin: 5px; background-color: #ffc900; padding: 10%" ng-click="goBusStopMap()" >
	    	</div>
	    	<div class="col">
	    		<img src="img/toilet.png" style="width : 65% ; height : 65%; border-radius: 20%; margin: 5%; background-color: #33cd5f; padding: 10%" ng-click="goToiletMap()" >
	    	</div>
	    </div>
	</ion-content> -->

	<ion-content class="margin-top-10" style="margin-top: 96px"> 
 
	    <div class="row" style="height: 192px">
	      	<div class="col" style="">
	      		<!-- <button  style="background-image: url(img/atm.png);height: 200px; width: 200px"> -->
	    		<img src="img/atm.png" style="width : 104px ; height : 115px; border-radius: 20%; float: right; margin: 5%; background-color: #01bb9b; padding: 10%" ng-click="goAtmMap()" >
	    		<!-- <p>ATM</p> -->
	    	</div>
	    	<div class="col">
	    		<img src="img/restaurant.png" style="width : 104px ; height : 115px; border-radius: 20%; margin: 5%; background-color: #01bb9b; padding: 10%" ng-click="goCafeMap()" >
	    	</div>
	    </div>

	    <div class="row" style="height: 192px">
	      	<div class="col">
	    		<img src="img/bus-stop.png" style="width : 104px ; height : 115px; border-radius: 20%; float: right; margin: 5px; background-color: #01bb9b; padding: 10%" ng-click="goBusStopMap()" >
	    	</div>
	    	<div class="col">
	    		<img src="img/toilet.png" style="width : 104px ; height : 115px; border-radius: 20%; margin: 5%; background-color: #01bb9b; padding: 10%" ng-click="goToiletMap()" >
	    	</div>
	    </div>
	</ion-content>
</ion-view> 